* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $ttnorms-font;
  font-weight: $font-regular;
  font-size: $fz-6;
  line-height: 138%;
  color: $dark-blue-2-color;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-sl {
  max-width: 1230px;
  margin: 0 auto;
}

.margin {
  margin: 60px 0;
}
.margin-top {
  margin-top: 60px;
}
.margin-bottom {
  margin-bottom: 60px;
}

.title {
  font-family: $yeseva-one-font;
  font-weight: $font-regular;
  font-size: $fz-1;
  line-height: 125%;
  color: $dark-blue-1-color;
}