* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $ttnorms-font;
  font-weight: $font-regular;
  font-size: $fz-6;
  line-height: 138%;
  color: $dark-blue-2-color;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-sl {
  max-width: 1230px;
  margin: 0 auto;
}

.margin {
  margin: 60px 0;
}
.margin-top {
  margin-top: 60px;
}
.margin-bottom {
  margin-bottom: 60px;
}



.title {
  font-family: $yeseva-one-font;
  font-weight: $font-regular;
  font-size: $fz-1;
  line-height: 125%;
  color: $dark-blue-1-color;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: $blue-color;
  height: 100%;
  width: 33px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -52px;
  align-items: start;
  background-image: linear-gradient(180deg, $blue-color 0%, #831037 60%, $pink-color 100%);
  transition: all 0.3s ease-out;
}
.go-arrow {
  transform: skew(-6deg);
  margin-left: 2px;
  margin-top: 9px;
  opacity: 0;
  transition: all 0.3s ease-out;
  svg path {
    fill: $white-color;
  }
}

.shadow {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black-color, .5);
  z-index: 501;
  transition: .5s ease-in-out;
  &.active {
    opacity: 1;
    visibility: initial;
    transition: .4s ease-in-out;
  }
}

.lg-outer.lg-components-open:not(.lg-zoomed) .lg-sub-html {
  display: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -101%;
}

.to-top {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .2s ease;
  z-index: 1001;
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}



@media screen and (max-width: 768px) {
  .title {
    font-size: $fz-2;
  }
  .margin {
    margin: 40px 0;
  }
  .margin-top {
    margin-top: 40px;
  }
  .margin-bottom {
    margin-bottom: 40px;
  }
  .to-top {
    height: 50px;
    width: 50px;
    right: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 680px) {
  .to-top {
    bottom: 80px;
  }
}

@media screen and (max-width: 480px) { 
  .title {
    font-size: $fz-3;
  }
  .margin {
    margin: 30px 0;
  }
  .margin-top {
    margin-top: 30px;
  }
  .margin-bottom {
    margin-bottom: 30px;
  }
  .to-top {
    height: 40px;
    width: 40px;
    right: 10px;
    bottom: 80px;
    img {
      width: 15px;
      height: 15px;
    }
  }
}

@media screen and (max-width: 375px) { 
  .title {
    font-size: $fz-4;
  }
  .container {
    padding: 0 10px;
  }
}