* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $ttnorms-font;
  font-weight: $font-regular;
  font-size: $fz-6;
  line-height: 138%;
  color: $dark-blue-2-color;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-sl {
  max-width: 1230px;
  margin: 0 auto;
}

.margin {
  margin: 60px 0;
}
.margin-top {
  margin-top: 60px;
}
.margin-bottom {
  margin-bottom: 60px;
}

.title {
  font-family: $yeseva-one-font;
  font-weight: $font-regular;
  font-size: $fz-1;
  line-height: 125%;
  color: $dark-blue-1-color;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: $blue-color;
  height: 100%;
  width: 33px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -52px;
  align-items: start;
  background-image: linear-gradient(180deg, $blue-color 0%, #831037 60%, $pink-color 100%);
  transition: all 0.3s ease-out;
}
.go-arrow {
  transform: skew(-6deg);
  margin-left: 2px;
  margin-top: 9px;
  opacity: 0;
  transition: all 0.3s ease-out;
  svg path {
    fill: $white-color;
  }
}