
/*========== Font family ==========*/
$yeseva-one-font: 'Yeseva One', cursive;
$ttnorms-font: 'TTNorms', sans-serif;

/*========== Font weight ==========*/
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;

/*========== Font size ==========*/
$fz-1: 2.5rem;   /*40px*/
$fz-2: 1.875rem;   /*30px*/
$fz-3: 1.5rem;   /*24px*/
$fz-4: 1.25rem;   /*20px*/
$fz-5: 1.125rem;   /*18px*/
$fz-6: 1rem;   /*16px*/
$fz-7: 0.875rem;   /*14px*/

/*========== Colors ==========*/
$blue-color: #0093A2;
$blue-light-color: #A9CACF;
$pink-color: #E2195B;
$pink-light-color: #E18492;
$yellow-color: #FFA500;
$black-color: #1B1C21;
$dark-blue-1-color: #222A46;
$dark-blue-2-color: #353949;
$blue-gray-color: #505567;
$gray-1-color: #7D818E;
$gray-2-color: #B0B2B9;
$gray-light-1-color: #D0D2D7;
$gray-light-2-color: #E2E4EB;
$gray-light-3-color: #F2F3F5;
$white-color: #FFFFFF;
$white-gray-color: #E8F2F3;

/*========== Z-index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

/*========== Other ==========*/