.map {
  position: relative;
  &-info {
    position: absolute;
    top: 120px;
    padding: 30px;
    background: $white-color;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.15);
    border-radius: 10px;
    &__top {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 20px;
      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid $gray-light-2-color;
        border-radius: 50%;
        transition: .2s ease;
        svg path {
          transition: .2s ease;
        }
        &:hover {
          background-color: $gray-1-color;
          svg path {
            stroke: $white-color;
          }
        }
      }
      &-call {
        text-decoration: none;
        display: block;
        font-weight: $font-bold;
        color: $dark-blue-1-color;
        transition: .2s ease;
        &:hover {
          color: $blue-color;
        }
      }
      &-order {
        position: relative;
        font-size: $fz-7;
        line-height: 143%;
        text-decoration: none;
        color: $pink-color;
        cursor: pointer;
        &::after {
          content: '';
          width: 100%;
          height: 1px;
          background: $pink-color;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2px;
        }
      }
    }
    &__time {
      position: relative;
      padding-left: 28px;
      color: $black-color;
      margin-bottom: 15px;
      &::before {
        content: '';
        width: 18px;
        height: 18px;
        background: url('../img/icons/clock-sm.svg') center center/contain no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__mail {
      position: relative;
      a {
        font-weight: $font-medium;
        padding-left: 28px;
        text-decoration: none;
        color: $black-color;
        transition: .2s ease;
        &:hover {
          color: $blue-color;
        }
      }
      &::before {
        content: '';
        width: 18px;
        height: 18px;
        background: url('../img/icons/mail.svg') center center/contain no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
