.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 502;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .4s ease-in-out;
  &.active {
    opacity: 1;
    transition: .3s ease-in-out;
  }
  &.modal--reviews {
    padding: 0 15px;
    .modal-wrapper {
      max-width: 1200px;
      max-height: 95vh;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 40px 50px;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 4px;
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: $blue-color;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #01737f;
      }
    }
    .modal__title {
      font-size: $fz-2;
      text-align-last: left;
    }
    
  }
  &.modal--buy1click {
    .modal-form {
      margin-bottom: 20px;
    }
    .modal-call__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 17px;
      align-items: center;
    }
    .modal-call__link {
      display: block;
      position: relative;
      padding-left: 34px;
      transition: .2s ease;

      text-decoration: none;
      font-weight: $font-medium;
      font-size: $fz-6;
      line-height: 143%;
      color: $dark-blue-1-color;
      &:hover {
        color: $blue-color;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 22px;
        height: 22px;
        background: url('../img/icons/phone.svg') center center/contain no-repeat;
      }
    }
    .modal-call__item--whatsapp {
      .modal-call__link::before {
        top: -1px;
        width: 24px;
        height: 24px;
        background: url('../img/icons/contact/whatsApp.svg') center center/contain no-repeat;
      }
    }
  }
  &-wrapper {
    max-width: 400px;
    width: 100%;
    padding: 30px 25px;
    background: $white-color;
    border: 1px solid $gray-light-2-color;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__close-btn {
    position: absolute;
    top: 17px;
    right: 17px;
    border: none;
    padding: 5px;
    background: none;
    cursor: pointer;
    svg, svg path {
      transition: .2s ease;
    }
    &:hover {
      svg {
        transform: rotate(90deg);
        path {
          fill: $blue-color;
        }
      }
    }
  }
  &__title {
    font-weight: $font-bold;
    font-size: $fz-4;
    line-height: 138%;
    text-align: center;
    color: $black-color;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: $font-medium;
    color: $blue-gray-color;
    text-align: center;
    margin-bottom: 20px;
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }
  &__label {
    font-weight: $font-medium;
    font-size: $fz-7;
    color: $dark-blue-2-color;
  }
  &__input {
    padding: 13px 20px;
    background: $white-color;
    border: 1px solid $gray-light-1-color;
    border-radius: 5px;

    font-family: $ttnorms-font;
    font-weight: $font-regular;
    font-size: $fz-6;
    line-height: 138%;
    color: $black-color;
    transition: .2s ease;
    &:hover, &:focus {
      border: 1px solid $black-color;
    }
    &:focus {
      outline: none;
    }
  }
  &__send-btn {
    width: 100%;
  }

  &-review__items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .review-item {
    border: 1px solid $gray-light-2-color;
  }


  .phone-error {
    font-size: $fz-7;
    color: $pink-color;
  }

  .status {
    font-size: $fz-4;
    font-weight: $font-medium;
    color: $black-color;
    text-align: center;
    &.ok {
      color: $blue-color;
    }
    &.error {
      color: $pink-color;
    }
  }

}