.swiper-button-next, .swiper-button-prev {
  width: 40px;
  height: 40px;
  background: $white-color;
  box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
  border-radius: 40px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: '';
  width: 24px;
  height: 24px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  background: url('../img/icons/arrow-left.svg') center center/contain no-repeat;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  background: url('../img/icons/arrow-right.svg') center center/contain no-repeat;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 15px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: $white-color;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}